.logo-img {
    height: 50px;
    border-radius: 50%;
}

.domainlogo-img {
    display: block;
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
}

.domainlogo-container {
    width: 100px;
    height: 50px;
}
p {
    word-break: break-all
}
